export(biplot)
export(campaigndata)
export(distributionplot)
export(getpicture)
export(gmapdata)
export(keepalive)
export(responseplot)
export(scatterplot)
export(sharedplot)
export(sharedtimeplot)
export(timeplot)
export(userplot)
import(Ohmage)
import(ggplot2)
import(methods)
import(reshape2)
import(wordcloud)
