#header {
	background-color: blue;
}

#header h1 {
    font-size: 16px;
    color: #555555;
    font-weight: bold;
    padding: 5px 10px;
}
.draw16 {
    background-image: url( images/draw16.png ) !important;
}
.pdf16 {
    background-image: url( images/pdf16.png ) !important;
}
.csv16 {
    background-image: url( images/csv16.png ) !important;
}
.login16 {
    background-image: url( images/login16.png ) !important;
}
.logout32 {
    background-image: url( images/logout32.png ) !important;
}